<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 header">
          <ul class="nav-icon">
            <li><a href="/" class="site-title">Blog Home</a></li>
            <li><a href=https://github.com/pugetsoundandvision/audiotools class="site-title">Audio Tools</a></li>
            <li><a href="https://privatezero.github.io/tao" class="site-title">Tao</a></li>
            <li><a href="https://github.com/{{site.github}}" title="Github" data-hint="Github"  title="Github"><i class="fa fa-github"></i></a></li>
          </ul>
          <!-- site title -->
          <h1><br></h1>
          <!-- tag 1 -->
          <img src=/images/psv.png>
           <!-- tag 2 -->
           <p class="site-tagline">{{site.tagline}}</p>
      </div>
    </div>
  </div>
</header>
